* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #fffbf9;
    --bg-second-color: #fff5f1;
    --box-color: #f8f6f5;
    --text-white: #f3f3f3;
    --primary-color: #262624;
    --secondary-color: #414140;
    --hover-color: #646464;
    --cta-color: #d47c42;
    --cta-hover: #96582e;
}

nav {
    background-color: var(--background-color);
    width: 100%;
    position: fixed;
    top: 0;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
    max-width: 1550px;
    margin: auto;
    left: 50%;
    transform: translate(-50%, 0);
    /* box-shadow: 0 5px 80px #0000004c; */

}

.logo {
    margin-left: 15px;
}

/*Styling Links*/
.nav-links {
    display: flex;
    list-style: none;
    justify-content: right;
    text-align: right;
    right: 0;
    margin-right: 10px;
    align-items: center;
}

.main_list {
    display: none;
}

.nav-links li a {
    text-decoration: none;
    margin: 0 0.7vw;
    color: #131418;
}

.nav-links li a:hover {
    color: var(--cta-color);
}

.nav-links li {
    position: relative;
}

.nav-links li:last-child {
    background-color: var(--cta-color);
    border: 1px solid var(--cta-color);
    transition: 0.1s ease;
    cursor: pointer;
    padding: 10PX;
    border-radius: 4PX;

}

.nav-links li:last-child a::before {
    height: 0px;
}

.nav-links li:last-child:hover {
    background-color: transparent;
    border: 1px solid var(--cta-color);
}

.nav-links li:last-child a {
    color: var(--text-white);
}

.nav-links li:last-child:hover a {
    color: #000000;
}

.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: var(--cta-color);
    position: absolute;
    transition: all ease-in-out 0.1s;
    margin: 0 0 0 7%;
}

.nav-links li a:hover::before {
    width: 80%;
}



/*Styling Hamburger Icon*/
.hamburger div {
    width: 30px;
    height: 3px;
    background: #252729;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
    nav {
        position: fixed;
        z-index: 9999;
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 2%;
        top: 50%;
        transform: translate(-2%, -50%);
        z-index: 3;
        transition: all 0.7s ease;
    }

    .nav-links {
        position: fixed;
        background: #fffdf2;
        height: 100vh;
        width: 100%;
        /* margin-top: 650px; */
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 0.1s ease-out;
        pointer-events: none;
    }

    .nav-links.open {
        padding-top: 20px;
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
        position: absolute;
        top: 0;
        left: 0;
    }

    .nav-links li {
        opacity: 0;
        line-height: 45px;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }

    .nav-links li:nth-child(6) {
        transition: all 0.1s ease 0.1s;
        margin: 0;
    }



    li.fade {
        opacity: 1;
        padding: 10px 20px;
        text-align: left;

    }

    .nav-links li a::before {
        margin: 0 0 0 0%;
        text-align: left;
    }

}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-1px, 6px);
}

.toggle .line2 {
    transition: all 0.4s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-1px, -6px);
}
